# Rust build artifacts
/target/
**/*.rs.bk

# Local Database instances and logs
*.log
*.db
/data/
/rocksdb_data/
*.rdb

# External IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

#Pagina web
/connectome-web/

# Test Databases
/tests_graph_db/
/tests_server_db/
nexusdb-python/
# Assets
docs/assets/*.exe


# Local profiles
.connectome_profile
tests_graph_db/
high_density_bench_db/
